VCCAUX = 3.3;


NET "TMDS(0)"   LOC = "B5" | IOSTANDARD = TMDS_33 | SLEW = SLOW; # Blue
NET "TMDSB(0)"  LOC = "A5" | IOSTANDARD = TMDS_33 | SLEW = SLOW;
NET "TMDS(2)"   LOC = "P7" | IOSTANDARD = TMDS_33 | SLEW = SLOW; # Green
NET "TMDSB(2)"  LOC = "M7" | IOSTANDARD = TMDS_33 | SLEW = SLOW;
NET "TMDS(1)"   LOC = "D6" | IOSTANDARD = TMDS_33 | SLEW = SLOW; # Red
NET "TMDSB(1)"  LOC = "C6" | IOSTANDARD = TMDS_33 | SLEW = SLOW;
NET "TMDS(3)"   LOC = "N11" | IOSTANDARD = TMDS_33 | SLEW = SLOW; # Clock
NET "TMDSB(3)"  LOC = "P11" | IOSTANDARD = TMDS_33 | SLEW = SLOW;

PIN "U_VIDEO/clk_vga_BUFG.O" CLOCK_DEDICATED_ROUTE = FALSE;
NET "MEM_CLK"		LOC="T11" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_CKE"		LOC="T10" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_CS"		LOC="T9" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQM"		LOC="T8" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_BA(0)"	LOC="T7" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_BA(1)"	LOC="T6" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(0)"		LOC="T5" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(1)"		LOC="T4" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(2)"		LOC="T12" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(3)"		LOC="T13" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(4)"		LOC="T14" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(5)"		LOC="T15" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(6)"		LOC="H16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(7)"		LOC="G16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(8)"		LOC="F16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(9)"		LOC="E16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(10)"	LOC="C16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(11)"	LOC="D16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_A(12)"	LOC="B16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(0)"	LOC="R16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(1)"	LOC="E15" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(2)"	LOC="P16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(3)"	LOC="A14" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(4)"	LOC="L16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(5)"	LOC="M16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(6)"	LOC="A13" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_DQ(7)" 	LOC="N16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_WEn"		LOC="K16" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_CASn"		LOC="A12" | IOSTANDARD = LVTTL | SLEW = FAST;
NET "MEM_RASn"		LOC="J16" | IOSTANDARD = LVTTL | SLEW = FAST;

NET "AUDIO_L"		LOC="D1" | IOSTANDARD = LVTTL | SLEW = SLOW;
NET "AUDIO_R"		LOC="D3"	| IOSTANDARD = LVTTL | SLEW = SLOW;

NET "GPIO1"			LOC="R5" | IOSTANDARD = LVTTL | SLEW = SLOW;

NET "CLK_100" LOC = N8 | IOSTANDARD = LVTTL | TNM_NET="CLK_100" | PERIOD=100Mhz;
TIMESPEC "TS_CLK_100" = PERIOD CLK_100 100Mhz INPUT_JITTER 95ps;